<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Meu Perfil - Thyago Borba</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v4.10.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Sobre</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resumo</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfólio</span></a></li>
        <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Serviços</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contato</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Thyago Borba</h1>
      <p>Eu sou <span class="typed" data-typed-items="Especialista, Coordenador, Teamleader, Consultor, Instrutor"></span></p>
      <div class="social-links">
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
        <a href="https://www.facebook.com/thyago89.b/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/thyago.borba/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://github.com/tborba1989" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/thyagoborba/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Sobre</h2>
          <p>Sou um experiente Especialista em People Analytics, Ciência de Dados e Estratégias de Remuneração. Com mais de 15 anos de atuação em diversos setores como Tecnologia da Informação, Planejamento Financeiro, e Recursos Humanos, utilizo uma abordagem holística e de cultura data-driven para a gestão empresarial. Graduado em Administração de Empresas e Direito, com especializações em Engenharia de Software & Gestão de Projetos, além de uma MBA em Finanças, Auditoria e Controles.</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{{ url_for('static', filename='assets/img/profile-img.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Consultor &amp; Analista de Dados.</h3>
            <p class="fst-italic">
              Especializado em fornecer insights através de análise de dados para impulsionar estratégias empresariais e otimizar processos. Com uma forte competência em desenvolvimento de relatórios e sistemas estratégicos, Thyago tem uma habilidade comprovada para influenciar a tomada de decisões gerenciais através de métodos analíticos avançados.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Aniversário:</strong> <span>8 Janeiro 1989</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.thyagoborba.com.br</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Telefone:</strong> <span>+55 21 97102-0346</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Cidade:</strong> <span>Rio de Janeiro, RJ</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Idade:</strong> <span>35</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Grau:</strong> <span>Mestrando</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>E-mail:</strong> <span>thyago.borba1@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Jobs:</strong> <span>Disponível para atuação PJ</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Impacto Profissional</h2>
          <p>Esses números refletem os resultados tangíveis de minha expertise em People Analytics e Ciência de Dados, destacando meu impacto em várias organizações e projetos.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="16200" data-purecounter-duration="1" class="purecounter"></span>
              <p>Profissionais Impactados</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-graph-up-arrow"></i>
              <span data-purecounter-start="0" data-purecounter-end="97" data-purecounter-duration="1" class="purecounter"></span>
              <p>% de Aumento na Produtividade</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-currency-dollar"></i>
              <span data-purecounter-start="0" data-purecounter-end="15000000" data-purecounter-duration="1" class="purecounter"></span>
              <p>Economia Gerada (R$)</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-trophy"></i>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>Prêmios e Certificações</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Habilidades</h2>
          <p>Com competências técnicas avançadas, domino uma gama de ferramentas e tecnologias, incluindo VBA, Pacote Office Expert, SQL, Power BI, Python, Java, JavaScript, CSS, HTML, AWS e Azure sou versado em metodologias ágeis como Scrum e Kanban. Além disso, possuo uma forte base em People Analytics e Estratégias de Remuneração: Korny Ferry e Mercer, essenciais para qualquer organização orientada a dados.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">VBA <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Pacote Office <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Visio & Project <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Power BI <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Java <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS, HTML e JS <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Cert. Yellow Belt <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Palestrante People Analytics <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Formação em Liderança <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Cientista de Dados <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Engenheiro Machine Learning <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Cert. Profissional Gerenciamento de Projetos Google <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resumo</h2>
          <p>Tenho uma sólida trajetória profissional, oferecendo insights avançados através da análise de dados para impulsionar a estratégia de RH e otimizar operações em diversos setores. Especializado em People Analytics, Ciência de Dados e Gestão de Remuneração, e tenho contribuído significativamente para as estratégias empresariais através de minhas habilidades em tecnologia e análise.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Experiência Profissional</h3>
            <div class="resume-item">
              <h4>Especialista de People Analytics</h4>
              <h5>2024 - Presente</h5>
              <p><em>Copacabana Palace, A Belmond Hotel, Rio de Janeiro, Brasil</em></p>
              <ul>
                <li>Sou especializado em fornecer insights valiosos por meio da análise de dados e indicadores para impulsionar a estratégia de RH e contribuir para o sucesso da empresa. Minha atuação como consultor interno permite atender às necessidades das lideranças e dos diversos departamentos do hotel, garantindo decisões informadas e alinhadas aos objetivos organizacionais.</li>
                <li>Consolidar dados de payroll para desenvolver estratégias eficazes de RH e empresa.
                    Implementar e monitorar KPIs adaptados às demandas dos subsistemas de RH e outros setores do hotel.
                    Atender às demandas de dados da liderança e facilitar a comunicação de políticas de RH.
                    Acompanhar KPIs de Diversidade & Inclusão para promover um ambiente de trabalho inclusivo.
                    Controlar orçamentos e custos dos subsistemas de RH para garantir uma gestão financeira eficiente.
                    Monitorar o headcount, fornecendo dados atualizados para a gestão de RH e setorial.
                    Gerar e analisar relatórios de absenteísmo e horas extras, visando a otimização dos processos.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Coordenador de People Analytics</h4>
              <h5>2023</h5>
              <p><em>Petz, São Paulo, Brasil</em></p>
              <ul>
                <li>1. A gestão de metas e resultados da cia, provisão e simulação dos cenários de bônus, implantação de cultura data-driven împulsionando os comitês de discussões de números e reunião de resultados. Oportunidade de implantar novo modelo de resultados de PLR.</li>
                <li>2. Orçamento de pessoas e G&A da Diretoria Executiva de RH, elaborando o orçamento anual e o forecast mensal, com as justificativas das variações das principais linhas de payroll.</li>
                <li>3. Gestão de Remuneração Variável (Comissão) do centro estético, apuração, e provisão de pagamento. Oportunidade de redesenho do programa de variável com o objetivo de adequar a rentabilidade e eficiência do negócio de serviços.</li>
                <li>4. Gestão dos indicadores de todo o sistema de RH, atuando nas frentes técnicas de engenharia, arquitetura, análise e ciência de dados. Projeto da persona do turnover com aplicação de machine learning, dashboard em PowerBi alimentando os dados das Gerências de Business Partners Corporativo e Operação, Gerência DHO, Treinamento e Atração e Seleção e Comunicação, Gerência de Produtos de Folha (Payroll, Benefícios, Sesmt) e Gerência de Remuneração e Analytics. Projeto de entrega de um portal com acesso por nível de segurança de linha para os gestores até 3º nível.</li>
                <li>5. Gestão de ILP, acompanhamento do portal do sistema Pris com modelo de stock options.</li>
                <li>6. Gestão de time de quatro pessoas.</li>
                <li>Alinhar conceitos de negócio; desenvolver processos com foco em dados; disponibilizar informações estratégicas; melhorar relatórios e KPIs; buscar novas tecnologias; garantir governança e qualidade dos dados; coordenar remuneração variável e revisar modelos de incentivo de curto e longo prazo; coordenar o processo orçamentário de pessoas e despesas administrativas.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Especialista em Remuneração e Indicadores</h4>
              <h5>2022 - 2023</h5>
              <p><em>Alares Internet, São Paulo, Brasil</em></p>
              <ul>
                <li>1. Servir como fonte oficial de informações gerenciais de todo o sistema de RHA, implantação de cultura data-driven împulsionando os comitês de discussões de números e reunião de resultados. Oportunidade de construir e implantar todos os indicadores, estruturando e consolidando informações antes descentralizadas devido ao modelo de crescimento via M&A do negócio central aquisição de provedores de internet. Atuando nas frentes técnicas de engenharia, arquitetura, análise e ciência de dados.</li>
                <li>2. Orçamento de pessoas e G&A da Diretoria Executiva de RH, elaborando o orçamento anual e o forecast mensal, com as justificativas das variações das principais linhas de payroll.</li>
                <li>3. Guardião do Controle de Headcount, garantido a realização do orçamento conforme acordado.</li>
                <li>4. Apoio estratégico gerando análises e insights para tomada de decisão do conselho.</li>
                <li>5. Apoio estratégico redesenhando processos de RH com o objetivo de gerar automações e eficiência operacional.</li>
                <li>Elaborar o plano orçamentário anual e suas revisões em conjunto com as áreas de negócio e em parceria com a equipe de Finanças;
                    Atuar no controle do orçamento da área de Recursos Humanos, garantindo o cumprimento do orçado x realizado;
                    Fornecer informações financeiras de Recursos Humanos com consistência para análise de tomada de decisão;
                    Servir de fonte oficial de informações de métricas de RH.</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Educação e Certificações</h3>
            <div class="resume-item">
              <h4>MBA em Finanças, Auditoria e Controladoria</h4>
              <h5>2022 - 2023</h5>
              <p><em>Instituto Carreira, Brasil</em></p>
            </div>
            <div class="resume-item">
              <h4>Pós-Graduação em Engenharia de Software e Gestão de Projetos</h4>
              <h5>2023</h5>
              <p><em>Faculdade Estratego, Brasil</em></p>
            </div>
            <div class="resume-item">
              <h4>Administração de Empresas</h4>
              <h5>2022</em></h5>
              <p><em>Faculdade Estácio de Sá, Rio de Janeiro</em></p>
            </div>
            <div class="resume-item">
              <h4>Direito</h4>
              <h5>2021</h5>
              <p><em>Centro Universitário de Carioca, Rio de Janeiro</em></p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-1.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-1.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-2.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-2.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-3.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-3.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-4.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-4.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-5.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-5.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-6.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-6.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-7.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-7.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-8.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-8.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-9.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-9.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Serviços</h2>
          <p>Como especialista em People Analytics e Ciência de Dados, ofereço uma gama de serviços projetados para otimizar a tomada de decisões e melhorar a eficiência operacional nas organizações. Confira abaixo os principais serviços que posso oferecer para transformar dados em insights valiosos.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <i class="bx bx-analyze"></i>
              </div>
              <h4><a href="">Análise de People Analytics</a></h4>
              <p>Implementação de soluções de People Analytics para medir e analisar dados de RH, ajudando organizações a entender melhor o comportamento e as necessidades de seus funcionários.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <i class="bx bx-layer"></i>
              </div>
              <h4><a href="">Otimização de Processos</a></h4>
              <p>Utilização de técnicas avançadas de data science para otimizar processos internos, reduzindo custos e aumentando a eficiência operacional.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <i class="bx bx-bar-chart-alt-2"></i>
              </div>
              <h4><a href="">Consultoria Estratégica</a></h4>
              <p>Consultoria em estratégias de negócios baseadas em dados, incluindo análise de mercado, avaliação competitiva e planejamento estratégico.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
              <div class="icon">
                <i class="bx bx-world"></i>
              </div>
              <h4><a href="">Treinamentos e Workshops</a></h4>
              <p>Desenvolvimento e ministração de workshops e treinamentos personalizados em People Analytics, Ciência de Dados e uso de ferramentas analíticas para tomada de decisão.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
              <div class="icon">
                <i class="bx bx-slideshow"></i>
              </div>
              <h4><a href="">Desenvolvimento de Dashboards</a></h4>
              <p>Criação de dashboards interativos e customizados para monitoramento de KPIs e visualização de dados em tempo real.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <i class="bx bx-arch"></i>
              </div>
              <h4><a href="">Soluções de BI e Big Data</a></h4>
              <p>Implementação de soluções de Business Intelligence e Big Data para captura, armazenagem, e análise de grandes volumes de dados.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Recomendações</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-1.jpg') }}" class="testimonial-img" alt="">
                <h3>Stive Atayde</h3>
                <h4>Estagiário</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Um profissional extremamente dedicado a melhoria contínua e entrega de excelência!.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-2.jpg') }}" class="testimonial-img" alt="">
                <h3>Fábio Ovídio</h3>
                <h4>Analista Jr.</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Pude fazer parte da equipe do Thyago e foi notória minha evolução. Thyago é um líder, buscando sempre desenvolver e engajar sua equipe visando resultados extraordinários. Tenho certeza que onde quer que ele trabalhe, será de grande ajuda. O seu nível técnico é raro no mercado e a maneira como ele desenvolve projetos também.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-3.jpg') }}" class="testimonial-img" alt="">
                <h3>Paulo César Jr</h3>
                <h4>Google Cloud Engineer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Thyago sempre foi uma pessoa em busca de conhecimento e aperfeiçoamento pessoal e profissional. Muito inteligente e sempre responsável, cuida muito bem de suas atribuições, dedicando-se ao máximo em buscar o conhecimento necessário (e além se preciso for) para desempenhar da melhor forma suas tarefas.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <!--<div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-4.jpg') }}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>--><!-- End testimonial item -->

            <!--<div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-5.jpg') }}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>--><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contato</h2>
          <p>Entre em contato para saber mais sobre meus serviços ou discutir como posso ajudar sua empresa a transformar dados em insights valiosos.</p>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Localização:</h4>
                <p>Colégio, Rio de Janeiro, RJ</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>thyago.borba1@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telefone:</h4>
                <p>+55 21 97102-0346</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Seu Nome" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensagem" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Carregando</div>
                <div class="error-message"></div>
                <div class="sent-message">Sua mensagem foi enviada. Obrigado!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Thyago Borba</h3>
      <p>Não podemos prever o futuro, mas podemos criá-lo. "Peter Drucker"</p>
      <div class="social-links">
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
        <a href="https://www.facebook.com/thyago89.b/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/thyago.borba/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://github.com/tborba1989" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/thyagoborba/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/typed.js/typed.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>